<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="googleshopping.configuration" class="GoogleShopping\Loop\Configuration" />
        <loop name="googleshopping.category.associated" class="GoogleShopping\Loop\AssociatedCategory" />
        <loop name="googleshopping.product" class="GoogleShopping\Loop\GoogleShoppingProduct" />
        <loop name="googleshopping.shipping.modules" class="GoogleShopping\Loop\ShippingModules" />
    </loops>

    <forms>
        <form name="googleshopping.api.configuration" class="GoogleShopping\Form\ApiConfigurationForm" />
        <form name="googleshopping.misc.configuration" class="GoogleShopping\Form\MiscConfigurationForm" />
        <form name="googleshopping.merchant.configuration" class="GoogleShopping\Form\MerchantConfigurationForm" />
        <form name="googleshopping.taxonomy" class="GoogleShopping\Form\TaxonomyForm" />
    </forms>

    <hooks>
        <hook id="googleshopping.edit.category" class="GoogleShopping\Hook\CategoryEditHook" scope="request">
            <tag name="hook.event_listener" event="category.tab-content" type="back" method="onCategoryTabContent" />
            <tag name="hook.event_listener" event="category.edit-js" type="back" method="onCategoryEditJs" />
        </hook>
        <hook id="googleshopping.tool.hook" class="GoogleShopping\Hook\AdminToolHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="onMainTopMenuTools" />
        </hook>
    </hooks>
</config>
